/* Components */

/* Button */
.cta {
    text-decoration : none;
    border : none;
    border-radius : 30px;
    color : white;
    font-weight : 500;
    background : linear-gradient(to top, $primary-color, $secondary-color);
    width: fit-content;
    padding : 15px 20px;
    @include block-shadow;
  }