/* Fontstyle */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
/* Initialize document */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1440px;
}

/* General */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
header .logo--return {
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
header .logo--return a {
  color: #353535;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-left: 20px;
}
header .logo--return img {
  margin: auto;
}

/* Location */
.location-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
}
.location-banner .location-field {
  text-decoration: none;
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto", sans-serif;
  color: #353535;
  text-align: center;
}
.location-banner i {
  margin-right: 5px;
}

/* Explorer section */
.section-explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 16px;
}
.section-explorer h2 {
  width: 70%;
}
@media only screen and (min-width: 768px) {
  .section-explorer h2 {
    font-size: 40px;
  }
}
.section-explorer h3 {
  width: 85%;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

/* Howto section */
.section-howto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 40px 20px;
}
@media only screen and (min-width: 768px) {
  .section-howto {
    padding: 50px 10%;
  }
}
.section-howto h2 {
  margin-bottom: 25px;
}

/* Restaurant section */
.section-restaurant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
}
@media only screen and (min-width: 768px) {
  .section-restaurant {
    padding: 20px 10%;
  }
}
.section-restaurant h2 {
  margin-bottom: 25px;
}
.section-restaurant .container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}
@media only screen and (min-width: 768px) {
  .section-restaurant .container-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
}

/* Order section */
.section-order {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 15px 0;
}
.section-order .cta {
  width: 185px;
}

/* Components */
/* Button */
.cta {
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  width: fit-content;
  padding: 15px 20px;
  transition: all 300ms ease-out;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cta:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.button-dish {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 5px;
}
.button-dish .button-dish__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
  box-sizing: inherit;
  padding: 15px;
  flex: 1;
}
.button-dish .button-dish__content h4 {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button-dish .button-dish__content p {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button-dish__price {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 15px;
}
.button-dish .button-dish__checkmark {
  display: grid;
  width: 0px;
  overflow: hidden;
  position: relative;
  place-items: center;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
  transition: width 300ms ease-out;
}
.button-dish:hover .button-dish__checkmark {
  width: 60px;
}

/* Lists */
.list-rounded-number {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
  counter-reset: list-number;
}
@media only screen and (min-width: 768px) {
  .list-rounded-number {
    flex-direction: row;
    gap: 25px;
  }
}
.list-rounded-number li {
  padding: 25px 40px 25px 25px;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  list-style-type: none;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .list-rounded-number li {
    width: 30%;
  }
}
.list-rounded-number li:hover i.fas {
  color: #9356DC;
}
.list-rounded-number li i.fas {
  display: inline-block;
  color: #7E7E7E;
  width: 16px;
  height: 16px;
  margin-right: 20px;
  transition: color 300ms ease-out;
}
.list-rounded-number li::before {
  counter-increment: list-number;
  content: counter(list-number);
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%); /* Move to y-50% of object's height. */
}

/* Cards */
.card {
  background-color: white;
  height: fit-content;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .card {
    width: 45%;
  }
}
.card i {
  right: 25px;
  bottom: 30px;
  font-size: 30px;
  position: absolute;
}
.card .fas {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.card .fas:hover {
  opacity: 1;
}
.card__image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__content {
  padding: 20px 10px;
  text-align: left;
}
.card__content p {
  margin-top: 5px;
  font-weight: 300;
}

.badge-new {
  position: relative;
}

.badge-new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  display: grid;
  place-items: center;
  border-radius: 2px;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 30px;
  font-weight: 500;
}

/* Restaurants */
.restaurant {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  background-color: #F6F6F6;
  padding: 25px 15px;
}
.restaurant__name {
  position: relative;
}
.restaurant__name h2 {
  font-family: Shrikhand, cursive;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}
.restaurant__name i {
  right: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Move to y-50% of object's height. */
}
.restaurant__name .fas {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.restaurant__name .fas:hover {
  opacity: 1;
}
.restaurant__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.restaurant__menu h3 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 8px;
}
.restaurant__menu .container-dishes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}

.image-highlight {
  width: 100%;
  max-height: 383px;
  object-fit: cover;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-weight: 500;
  text-align: left;
  padding: 25px;
  background-color: #353535;
}
@media only screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}
footer h3 {
  font-family: Shrikhand, cursive;
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 18px;
  font-style: italic;
}
@media only screen and (min-width: 768px) {
  footer h3 {
    margin-bottom: 0;
    margin-top: 25px;
  }
}
footer a {
  width: 100px;
  color: white;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  footer .footer-container {
    flex-direction: row;
    align-self: flex-end;
  }
}
footer .footer-container p {
  width: 130px;
}
footer .footer-container .content-text-icon {
  display: flex;
  font-weight: 500;
}
footer .footer-container .content-text-icon p {
  width: 168px;
}
footer .footer-container .content-text-icon i {
  display: block;
  width: 11px;
  height: 20px;
  padding-right: 25px;
}

/*# sourceMappingURL=styles.css.map */
