/* Restaurants */
.restaurant {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1055px;
    position: relative;
    border-radius: 30px 30px 0 0;
    margin: auto;
    margin-top: -40px;
    background-color: $main-bg-color;
    padding: 25px 15px;
    &__name {
        position: relative;
        max-width: 634px;
        margin: auto;
        width: 100%;
        & h2 {    
            font-family: Shrikhand, cursive;
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            text-align: left;
            @media only screen and (min-width: $breakpoint) { //Large devices (laptops/desktops, $breakpoint and up)
                text-align: center;
            }
        }
        & i {
            right: 0;
            font-size: 30px;
            position: absolute;
            @include vertical-center;
        }
        & .fas {
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            @include main-gradient(bottom);
            opacity: 0;
            transition: opacity 300ms ease-out;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        & h3 {
            position: relative;
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 8px;
        }
        & .container-dishes {
            width: 100%;
            max-width: 634px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
    }
}
.underline-title {
    position: relative;
    &::after {
        content: "";
        width: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid $tertiary-color;
    }
}

.image-highlight {
    width: 100%;
    max-height: 383px;
    object-fit: cover;
}
