/* Animations */
@keyframes spinning-quart {
    from {
        transform: rotate(-270deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes appear-translate {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

/* Delays */
@for $i from 1 through 10 {
    .delay-#{$i} {
        animation: appear-translate 600ms ease-out both;
        animation-delay: calc(100ms * #{$i});
    }
}