/* Explorer section */
.section-explorer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 16px;
    & h2 {
        width: 70%;
    }
    & h3 {
        width: 85%;
        font-size: 18px;
        font-weight: 300;
        color: #353535;
    }
}

/* Howto section */
.section-howto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 40px 20px;
    & h2 {
        margin-bottom: 25px;
    }
}

/* Restaurant section */
.section-restaurant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 15px;
    & h2 {
        margin-bottom: 25px;
    }
    & .container-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }
}

/* Order section */
.section-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 15px 0;
    & .cta {
        width: 185px;
    }
}